__pycache__/
*.py[cod]

.venv/
.env

data/output/*
data/failed/*
data/*
data/input/*

.ipynb_checkpoints/
*.log
logs/

.vscode/
.idea/
*.swp
*.swo
*~

Thumbs.db
.DS_Store
desktop.ini

*.tmp
*.temp

.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

build/
dist/

*.egg-info/
.eggs/
